.correct-answer {
  color: #0f5132 !important;
  background-color: #bae5d2 !important;
}

.wrong-answer {
  color: #842029 !important;
  background-color: #f8d7da !important;
}

svg {
  font-size: 1.5rem;
}
